@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");


* {
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", sans-serif;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
  }

  .container {
    margin: 0 auto; 
    padding-top: 80px; 
    background-color:#E5E5E5;
    width: 375px; 
    height: 1030px;
}

/* -- Start Tela inicial -- */

.container-initial {
    margin: 0 auto; 
    padding-top: 80px; 
    background-color:#FFFFFF;
    width: 375px; 
    height: 1030px;
}

.container-initial input {
  margin: 0 auto; 
  width: 261px;
  height: 54px;
  margin-top: 108px;
  background-color: #FFFFFF;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  border-radius: 4px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #AEAEAE;

}

.container-initial button {
  width: 109px;
  height: 45px;
  background-color: #E7E7E7;
  border-radius: 9px; 
  margin: 0 auto; 
  margin-top: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  margin: 0 auto; 
  width: 261px;
  height: 54px;
  margin-top: 108px;
  background-color: #FFFFFF;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
  border-radius: 50px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #921212;

}




/* -- End Tela inicial -- */


.menu {
    width: 375px;
    padding: 25px;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*fixed menu*/
    top: 0;
    position: fixed; 
    z-index: 1;
}

ion-icon {
    width: 42.19px;
    height: 30.94px;

}

/* Tela inicial */ 

.initial-logo {
  margin: 0 auto; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.initial-logo img {
  width: 130px;
  height: 92px;
}





.box-message {
    margin: 0 auto; 
    padding-top: 80px; 
    background-color: #E5E5E5;
    width: 375px; 
    height: 1030px;

}

.status-messages {
  width: 375px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #DCDCDC;
  border-radius: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.messages-hour {
  margin-left: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #AAAAAA;

}

.messages-name {
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.messages-to-to {
  margin-left: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
}

.messages-to {
  margin-left: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.messages-message {
  margin-left: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

/* - Mensagens reservadas - */
.reserved-messages {
  width: 375px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #FFDEDE;
  border-radius: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


/* Mensagens normais */
.normal-messages {
  width: 375px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #FFFFFF;;
  border-radius: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}






/* box para envio de mensagem */

.box-send-message {
    width: 375px;
    height: 80px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.box-send-message input {
    font-family: 'Roboto';
    background-color: #FFFFFF;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;

    background: #FFFFFF;;
    border: 0px solid #FFFFFF;;
    border-radius: 3px;
    text-align: left;

}

.hide {
  display: none;
}